<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.subs.implicitintents">

    <uses-feature android:name="android.hardware.camera2"
        android:required="true"
        /> <!-- In google play the download will be only available to smart phones that  contains this camera features, if
         it isn't required, put false instead of true-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER"/>
                <!-- MAIN means this activity is the main entry point of the app
                LAUNCHER because this should appear has a top-level-->
            </intent-filter>
        </activity>
    </application>

</manifest>